{
    "rules": {
        "color-hex-case": "lower",
        "color-no-invalid-hex": true,
        "font-family-name-quotes": ["always-unless-keyword", {"severity": "warning"}],
        "font-weight-notation": ["named-where-possible", {"severity": "warning", "ignore": ["relative"]}],
        "function-calc-no-unspaced-operator": true,
        "function-comma-newline-after": "never-multi-line",
        "function-comma-space-after": "always",
        "function-comma-space-before": "never",
        "function-linear-gradient-no-nonstandard-direction": true,
        "function-parentheses-newline-inside": "never-multi-line",
        "function-parentheses-space-inside": ["never", {"severity": "warning"}],
        "function-url-quotes": "always",
        "function-whitespace-after": "always",
        "number-leading-zero": "always",
        "number-max-precision": 4,
        "number-no-trailing-zeros": true,
        "length-zero-no-unit": [true, {"severity": "warning"}],
        "string-no-newline": true,
        "string-quotes": "single",
        "time-no-imperceptible": true,
        "value-no-vendor-prefix": [true, {"severity": "warning"}],
        "value-list-comma-newline-after": "never-multi-line",
        "value-list-comma-space-after": "always-single-line",
        "value-list-comma-space-before": "never",
        "custom-property-no-outside-root": [true, {"severity": "warning"}],
        "property-no-vendor-prefix": [true, {"severity": "warning"}],
        "declaration-bang-space-after": "never",
        "declaration-bang-space-before": "always",
        "declaration-colon-space-after": "always",
        "declaration-colon-space-before": "never",
        "declaration-no-important": [true, {"severity": "warning"}],
        "declaration-block-no-duplicate-properties": [true, {"severity": "warning"}],
        "declaration-block-no-shorthand-property-overrides": true,
        "declaration-block-semicolon-newline-after": "always-multi-line",
        "declaration-block-semicolon-space-after": "always-single-line",
        "declaration-block-semicolon-space-before": "never",
        "declaration-block-single-line-max-declarations": 3,
        "declaration-block-trailing-semicolon": "always",
        "block-closing-brace-newline-after": "always",
        "block-closing-brace-newline-before": "always-multi-line",
        "block-closing-brace-space-after": "always-single-line",
        "block-closing-brace-space-before": "always-single-line",
        "block-no-empty": true,
        "block-opening-brace-newline-after": "always-multi-line",
        "block-opening-brace-space-after": "always-single-line",
        "block-opening-brace-space-before": "always",
        "selector-combinator-space-after": "always",
        "selector-combinator-space-before": "always",
        "selector-no-vendor-prefix": [true, {"severity": "warning"}],
        "selector-pseudo-element-colon-notation": "double",
        "selector-root-no-composition": [true, {"severity": "warning"}],
        "selector-list-comma-space-after": "always",
        "selector-list-comma-space-before": "never",
        "root-no-standard-properties": [true, {"severity": "warning"}],
        "rule-nested-empty-line-before": ["always-multi-line", {"except": ["first-nested"], "ignore": ["after-comment"]}],
        "rule-non-nested-empty-line-before": "always",
        "media-feature-colon-space-after": "always",
        "media-feature-colon-space-before": "never",
        "media-feature-name-no-vendor-prefix": [true, {"severity": "warning"}],
        "media-feature-no-missing-punctuation": true,
        "media-feature-range-operator-space-after": "always",
        "media-feature-range-operator-space-before": "always",
        "media-feature-parentheses-space-inside": "never",
        "media-query-list-comma-space-after": "always",
        "media-query-list-comma-space-before": "never",
        "at-rule-empty-line-before": "always",
        "at-rule-no-vendor-prefix": [true, {"severity": "warning"}],
        "comment-whitespace-inside": ["always", {"severity": "warning"}],
        "indentation": "tab",
        "max-empty-lines": [1, {"severity": "warning"}],
        "no-browser-hacks": true,
        "no-descending-specificity": true,
        "no-duplicate-selectors": true,
        "no-eol-whitespace": true,
        "no-indistinguishable-colors": [true, {"severity": "warning"}],
        "no-invalid-double-slash-comments": [true, {"severity": "warning"}],
        "no-unknown-animations": true,
        "no-unsupported-browser-features": [true, {"severity": "warning"}]
    }
}