/**
 * Default CSS to style the character sheet.
 * Has the syling for most of the elements
 * 
 * @colordef #396248; drak green
 * @colordef #7b9886; light green
 */

/**
 * @section General styling
 */
body{
	margin:2%;
	background-image:url('../images/tech.png');
	background-repeat:no-repeat;
	background-position:top left;
	background-attachment:fixed;
	background-size:cover;
	overflow:auto;
}

::-webkit-scrollbar {
	width:8px;
}
 
::-webkit-scrollbar-track {
	background-color:#7B9886;
	opacity:0.5;
	border-radius: 8px;
}
 
::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color:#396248;
}

.centerContent{text-align:center;}

#activeSkills, #picture, #otherSkills, #qualities, #vehicles, #implants, #armor, #weapons, #guns, #monitor, #comlink,
#powers, #spells, #contacts, #spirits, #misc, #notes{height:400px;}

#activeSkillsContainer, #otherSkillsContainer, #qualitiesContainer, #vehiclesContainer, #implantsContainer, #armorContainer,
#weaponsContainer, #gunsContainer, #comlinkContainer, #powersContainer, #contactsContainer, #spiritsContainer,
#miscContainer{
	height:303px;
	overflow:auto;
	margin-bottom:4px;
}

/**
 * @section Top Navbar
 */
#top{
	color:white;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	padding:3px 10px;
	background-color:#396248;
	background:-webkit-gradient(linear, left top, left bottom, from(#396248), to(#7b9886) );
	z-index:1;
}

#top form{display:inline-block;}

#top input[type=file]{
	opacity:0;
	z-index:3;
}

#fileOver{
	position:relative;
	margin-right:-250px;
	top:2px;
	width:242px;
}

#charSheet:focus ~ #fileOver{
	color:#ffffff;
	border-color:#FFFFFF;
}

/**
 * 	@section Header
 */
header img{
	margin-top:30px;
	width:450px;
	height:auto;
}

/**
 * @section Character sheet
 */
#sheet{
	width:1100px;
	margin-right:auto;
	margin-left:auto;
}

.containers{
	border:2px #396248 solid;
	margin: 2px auto 3px auto;
	padding:5px;
	border-radius:10px;
	display:inline-block;
	vertical-align:top;
	background-color: rgba(123,152,134,0.9);
	color:white;
}

.quarterWidth{width:258px;}

.halfWidth{width:534px;}

.tQuarterWidth{width:810px;}

.fullWidth{width:1086px;}

/**
 * @subsction Personal Data
 */
#name{width:800px;}

#sex{width:6em;}

/**
 * @subsction Picture
 */
#picture{height:400px;}

#picture h2{text-align:center;}

#pic{
	width:100%;
	height:auto;
}

/**
 * 	@subsection Attributes
 */
#attributes div{display:inline-block;}

/**
 * @subsection Active skills
 */
.skillGroup{color:#00a0df;}

.traing{color:gray;}

/**
 * @subsction Other Skills
 */
#activeSkills div > label:first-child, #otherSkills div > label:first-child{margin-right:143px;}

#otherSkillsContainer input[type=text]{width:181px;}

/**
 * @subsection Status Monitor
 */
#monitor div{
	display:inline-block;
	width:49.6%;
}

#phisicalDamage table{
	background-image: url('../images/phisical.svg');
	background-repeat:no-repeat;
	background-position:left top;
	background-size:contain;
}

#stunDamage table{
	background-image: url('../images/stun.svg');
	background-repeat:no-repeat;
	background-position:left top;
	background-size:contain;
}

#monitor input[type=checkbox]{
	-webkit-appearance:none;
	background-color:green;
	opacity:0.2;
	width:34px;
	height:34px;
	margin:0 0 -4px 0;
}

#monitor input[type=checkbox]:disabled{
	-webkit-appearance:none;
	background-color:gray;
	opacity:0.2;	
}

#monitor input[type=checkbox]:checked{
	-webkit-appearance:none;
	background-color:red;
	opacity:0.5;
}

#monitor td{
	border:thin solid black;
}

#monitor tr td:last-child{
	border:none;
	padding-left:4px;
	text-align:center;
}

/**
 * 	@subsection Vehicles
 */
#vehicles div > input[type=text]:first-child{width:300px;}

#vehicles div > label:first-child{margin-right:265px;}

#vehicles div label:nth-child(n+2){margin-right:22px;}

#vehicles div label:nth-child(5){
	margin-left:-7px;
	margin-right:30px;
}

#vehicles div label:nth-child(7){
	margin-left:5px;
	margin-right:30px;
}

#vehicles div label:nth-child(8){margin-left:-13px;}

/**
 * 	@subsection Implants
 */
#implants div > label:first-child{margin-right:195px;}

#implants div > label:nth-child(2){margin-right:20px;}

#implants div > label:nth-child(3){margin-right:10px;}

/**
 * 	@subsection Misc Equipament
 */

#misc div > label:first-child{margin-right:212px;}

#misc div > input[type=text]:nth-child(2){width:20em;}

/**
 * @subsection Melee Weapons
 */
#weapons div > label:first-child{margin-right:140px;}

#weapons div > label:nth-child(2){margin-right:23px;}

#weapons div > label:nth-child(3){margin-right:48px;}

/**
 * 	@subsecion Ranged Weapons
 */
#guns div > label:first-child{margin-right:200px;}

#guns div > label:nth-child(2){margin-right:10px;}

#guns div > label:nth-child(3){margin-right:40px;}

#guns div > label:nth-child(4){margin-right:15px;}

#guns div > label:nth-child(5){margin-right:40px;}

/**
 * 	@subsection Contacts
 */
#contacts div > label:first-child{margin-right:90px;}

#contacts div > label:nth-child(2){margin-right:20px;}

#contacts div > input[type=text]:first-child{width:125px;}

/**
 * 	@subsection Programs
 */

#comlink div > label:first-child{margin-right:120px;}

#programsContainer{
	overflow:auto;
	height:198px;
}

/**
 * 	@subsection Powers
 */
#powers div > label:first-child{margin-right:135px;}

/**
 * 	@subsection Spells
 */
#spellsContainer{
	height:288px;
	overflow:auto;
}
#spellsContainer select{width:245px;}

/**
 * 	@subsection Spirits
 */
#spiritsContainer div > input[type=text]:first-child{width:85px;}

#spirits div > label:first-child{margin-right:35px;}

#spirits div > label:nth-child(2){margin-right:20px;}

#spirits div > label:nth-child(3){margin-right:10px;}

/**
 * @subsection Notes
 */
#notes form{
	width:99%;
	height:80%;
}

#notes textarea{
	width:100%;
	height:100%;
	resize:none;
}