/**
 * General Styling for testing porpouses
 */

body{
	font-family:Comfortaa;
	background-color:#eeeeee;
	background-image: url('../images/bg-left.png'), url('../images/bg-right.png');
	background-position:top left, top right;
	background-repeat:repeat-y;
}

/**
 * 	Top and header
 */

#top{
	position:fixed;
	top:0;
	left:0;
	background-color:#0098d1;
	width:100%;
	z-index:1;
}

nav{display:inline-block;}

#top div{
	display:inline-block;
	margin-right:40px;
}

#top ul{
	list-style:none;
	padding:0;
	margin:0;
}

#pages{
	width:65.5%;
}

#pages li{
	display:inline;
	margin-right:20px;
}

#config{
	width:25px;
}

#config img{
	height:25px;
	vertical-align:middle;
}

ul#configOptions{
	position:absolute;
	display:none;
	background-color:#0098d1;
	padding:5px;
	font-size:0.8em;
	margin-left:-75px;
}

.open{display:block !important;}

/**
 * 	Modal pannel
 */

#modalPanel {
	border: thick rgba(0,0,0,0.5) solid;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	padding:20px;
	z-index:2;
	position:fixed;
	height:80%;
	width:60%;
	top:6%;
	left:18%;
	background-color:white;
	display:none;
	overflow:auto;
}
#closePanel{
	position:absolute;
	top:-3%;
	left:98%;
	width:40px;
	height:40px;
	border:medium black solid;
	background-color:red;
	border-radius:20px;
	font-weight:bolder;
	font-size:30px;
	font-family:sans-serif;
}
#modalPanel pre{
	background-color:#808080;
	padding:10px;
}
#modalPanel code{
	color:white;
	font-family: Monaco, monospace;
	font-size:10pt;
}

/**
 * 	Sheet general styling
 */

#sheet{
	margin-left:5%;
	width:90%;
	min-width:960px;
	float:left;
}

#sheet article{
	background-color:#b0e0e8;
	border-left: 1.2em #0098d1 solid;
	border-top: 2em #0098d1 solid;
	margin:20px;
	padding:10px;
	float:left;
	/*width:26.5%;*/
	min-width:260px;
	min-height:160px;
}

h2{
	position:absolute;
	margin-top:-2.3em;
	margin-left:-2.2em;
	color:white;
	text-shadow:#b0e0e8 0 0 5px;
}

h2:before{
	width:2.6em;
	height:2.6em;
	vertical-align:middle;
	margin-right:-1.4em;
	background:#0098d1;
	-moz-border-radius:1.3em;
	-webkit-border-radius:1.3em;
	-o-border-radius:1.3em;
	-ms-border-radius:1.3em;
	border-radius:1.3em;
	display:inline-block;
	content:"";
}

.centerContent{text-align:center;}

.containers{overflow:auto;}

/**
 * 	Specific quirks
 */

#personalData{
	width:66.55%;
	float:left;
}

#name{width:99.5%;}

#nameSpan{width:99.5%;}

#ethnicity, #sex{width:6em;}

#attributes div{text-align:center;}

#lifestyles{width:90%;}

#lifestylesContainer{height:120px;}

#monitor{
	text-align:center;
	float:right;
	width:26.5%;
}

#monitor div{
	display:inline-block;
	vertical-align:top;
	text-align:left;
}

#monitor table{
	background-position:top left;
	background-repeat:no-repeat;
	-moz-background-size:110px 100%;
	-webkit-background-size:110px 100%;
	-o-background-size:110px 100%;
	-ms-background-size:110px 100%;
	background-size:110px 100%;
}

#phisicalDamage table{background-image:url('../images/phisical.svg');}

#stunDamage table{background-image:url('../images/stun.svg');}

#monitor td{
	border:thin black solid;
	width:35px;
	height:35px;
	background-color:rgba(0,128,0,0.5);
}

#monitor td:last-child{
	border:none;
	background:none;
	text-align:center;
}

#monitor input[type=checkbox]{
	width:100%;
	height:100%;
	opacity:0;
	margin:0;
	padding:0;
}

#skills, #vehicles, #notes{width:59.5%;}

#activeSkills, #otherSkills{
	float:left;
	width:48%;
}

#qualities, #weapons, #guns, #armor, #implants, #misc, #contacts, #comlink, #powers, #spells, #spirits, #picture{width:26.3%;}

#activeSkillsContainer, #otherSkillsContainer, #qualitiesContainer, #weaponsContainer, #gunsContainer, #armorContainer,
#implantsContainer, #miscContainer, #contactsContainer, #vehiclesContainer, #powersContainer, #spellsContainer,
#spiritsContainer{height:300px;}

#programsContainer{height:201px;}

#activeSkills label:first-child, #otherSkills label:first-child, #misc label:first-child, #powers label:first-child{margin-right:60%;}
