/**
 * Font definition CSS
 * Defines font-faces and where they will be used
 */
@font-face{
	font-family:'Comfortaa';
	src:url('../fonts/comfortaa/comfortaa_bold.ttf') format('truetype');
	font-weight:bold;
	font-style:normal;
}

@font-face{
	font-family:'Comfortaa';
	src:url('../fonts/comfortaa/comfortaa_regular.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

body, input, select, textarea{font-family:Comfortaa, Trebuchet, serif;}
h2,h3{margin: 10px 0;}
label{font-size:0.7em}
a img{
	border:none;
	outline:none;
	text-decoration:none;
}
