/**
 * CSS for forms
 */
input, textarea,select{color:#396248;}

input:active, input:focus, textarea:active, textarea:focus, select:active, select:focus{color:#FFFFFF;}

span{display:inline-block;}

span label{display:block;}

input[type=number]{width:4em;}

input[type=text],input[type=number]{
	margin-left:5px;
	background:none;
	border:none;
	border-bottom:dotted thin #396248;
	border-left:dotted thin #396248;
}

input::-webkit-inner-spin-button{
	-webkit-appearance:none;
	background-image:url('../images/spin.svg');
	background-position:left center;
	background-repeat:no-repeat;
	background-size:contain;
	width:15px;
}

input:focus::-webkit-inner-spin-button, input:active::-webkit-inner-spin-button{
	background-image:url('../images/spin-selected.svg');
}

input:focus, textarea:focus, select:focus{
	outline:none;
	border-color:white;
}

textarea{
	background-color:transparent;
	border:dotted thin #396248;
}

select{
	-webkit-appearance:none;
	background-color:transparent;
	background-image:url('../images/dropdown.svg');
	background-position:center right;
	background-repeat:no-repeat;
	background-size:contain;
	border:none;
	border-bottom:dotted thin #396248;
	border-left:dotted thin #396248;
	padding-right:18px;
}

select:focus{background-image:url('../images/dropdown-selected.svg');}

option, optgroup{
	-webkit-appearance:none;
	background-color:#396248;
}

optgroup{
	color:#7b9886;
}

option{
	color:#FFFFFF;
}

input[type=button],input[type=submit],input[type=reset]{
	background:none;
	border:none;
	padding:3px 16px;
	color:#396248;
	background-image:url('../images/button-left.svg'), url('../images/button-right.svg');
	background-position: center left, center right;
	background-repeat:no-repeat;
	background-size:contain;
	cursor:pointer;
}

input[type=button]:focus,input[type=submit]:focus,input[type=reset]:focus{
	color:#ffffff;
	background-image:url('../images/button-left-focus.svg'), url('../images/button-right-focus.svg');
}

input[type=button]:active,input[type=submit]:active,input[type=reset]:active{
	color:#ffffff;
	background-image:url('../images/button-left-focus.svg'), url('../images/button-right-focus.svg');
}