<article id="forbidden">
	<h2><%=__('Too Far!')%></h2>
	<p><%=__('Whoa dude, you\'ve just gone too far bitch, this area is expected for loged in (or existing) people, go back to the home using the link below.')%></p>
	<a href="/"><%=__('Go home...')%></a>
</article>